.payment-selection::before {
    font-weight: bold;
    content: 'This is a placeholder, insert any text here...';
}

.delivery-form upscale-shipping-selector .shipping::before {
    margin-left: 12px;
    font-weight: bold;
    content: 'Lorem ipsum dolor sit amet...';
}
